<%- include('../partials/header.ejs', {}) %>
<section class="clean-block clean-form dark p-5">
  <div class="container">
    <div class="row">
            <h3 class="h3">Welcome <%= sql[0].name %></h3>
            <br/><br/><br/><br/>
            <h5 class="h5">BLOG</h5>

            <% for(i=0;i < blog.length; i++){ %>
              <div class="col-sm-3 mb-2">
                <div class="card bg-dark text-light" >
                    <img src="<%= blog[i].thumbnail %>" class="card-img-top" alt="img">
                    <div class="card-body">
                      <h5 class="card-title"><%= blog[i].title %></h5>
                      <p class="card-text text-truncate"><%= blog[i].content %></p>
                      <a href="/admin/blog/<%= blog[i].id %>" class="btn btn-primary rounded">READ MORE</a>
                    </div>
                  </div>
                </div>
            <% } %>

                <br/> <br/>   
            <a href="/admin/blog/new"><button class="btn btn-dark"><i class="far fa-newspaper"></i> New Blog</button></a>
</div></div>
</section>

<%- include('../partials/footer.ejs', {}) %>