<%- include('./partials/header.ejs', {}) %>
<br/><br/>
<section class="clean-block clean-form dark p-5">
    <div style="padding:5%">
    <div class="container">
        <div class="row">
            <h1 class="mb-3"><%= blog[0].title %></h1>
            <img src="<%= blog[0].thumbnail %>" class="mb-4"/>
<br/>
&emsp;<%- blog[0].content %>
</div></div></div>
</section>

<%- include('./partials/footer.ejs', {}) %>