<%- include('./partials/header.ejs', {}) %>
<br/><br/>
<section class="clean-block clean-form dark p-5" align="center">
<div class="container">
    <img src="<%= data[0].owner.avatar_url %>" style="float: right;" class="display-block shadow-lg rounded-pill" id="index-logo"><br/><br/>
    <h1 id="index-text">
        Self taught<br/>
        Full-stack web developer
    </h1>
    <p>Hi, my name is Arda, I am from Turkey and I am a full-stack web developer.<br/> I started building a website from the age of 14.</p>
  </div>
  </section>

<section id="project" class="clean-block clean-form dark p-5">
    <div class="container">
      <div class="row">
        <h3 id="index-text">Project:</h3>
        
               <div class="col-3 card shadow-lg ms-3 me-5" align="center" style="width: 18rem;">
                <br/>
                <a href="http://bit.ly/quodbot" class="card-image-top" style="text-decoration: none; color:black;">
                    <img src="/images/quod.png" class="rounded-pill shadow-lg"/>
                    <h5 class="card-title pt-2">QUOD BOT</i></h5>
                    <p class="card-text">All in-one discord bot</p>
                    </a>
                    <br/>
                  </div>

                <div class="col-3 card shadow-lg me-5" align="center" style="width: 18rem;">
                  <br/>
                  <a href="http://bit.ly/cryptobot" class="card-image-top" style="text-decoration: none; color:black;">
                      <img src="/images/crypto.png" class="rounded-pill shadow-lg"/>
                      <h5 class="card-title pt-2">Lihez Crypto BOT</i></h5>
                      <p class="card-text">Crypto Currency Bot</p>
                    </a> 
                    <br/>
                    </div>

                    <div class="col-3 card shadow-lg me-2" align="center" style="width: 18rem;">
                      <br/>
                      <a href="http://www.lihezbl.tk/" class="card-image-top" style="text-decoration: none; color:black;">
                          <img src="/images/botlist.png" class="rounded-pill shadow-lg"/>
                          <h5 class="card-title pt-2">Lihez BotList</i></h5>
                          <p class="card-text">Discord Botlist</p>
                        </a> 
                        <br/>
                        </div>
  </div>
  </div>
  </section>

<section class="p-5">
  <div class="container">
    <div class="row">
    <h3 id="index-text">Languages and tools:</h3>
    <br/>
    <div class="row">
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-js-square" style="color:#efd81d"></i> Javascript</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-node-js" style="color:#74a862"></i> Node.js</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-php" style="color:#7377AD"></i> Php</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-html5" style="color:#de4b25"></i> Html5</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-css3-alt" style="color:#146eb1"></i> Css3</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-bootstrap" style="color:#7611F6"></i> BootStrap</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-css3" style="color:#40C3AA"></i> Bulma.IO</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-git-alt" style="color:#e94e31"></i> Git</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fas fa-database" style="color:#005d88"></i> MySql</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fas fa-cloud" style="color:#479848"></i> MongoDB</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-react" style="color:#61DAFB"></i> React.JS</div>
    <div class="col-2 btn btn-light shadow-lg me-4 mb-2"><i class="fab fa-vuejs" style="color:#3FB27F"></i> Vue.JS</div>
</div>
</div></div>
</section>

<hr style="color:black"/>

<section class="clean-block clean-form p-5" id="contact">
<div class="row">
  <h3 id="index-text">Contact</h3>

  <div class="col-2 btn btn-light shadow-lg  rounded-pill me-4">
  <a href="mailto:<%= settings.contact.email %>" style="text-decoration: none; color:#253163">
      <h4>
          <i class="fas fa-envelope" style="color:#253163"></i>
      </h4></a>
</div>

<div class="col-2 btn btn-light shadow-lg rounded-pill me-4">
      <a href="https://instagram.com/<%= settings.contact.instagram %>" style="text-decoration: none; color:#D82C7D"></a>
        <h4>
            <i class="fab fa-instagram" style="color: #D82C7D"></i>
        </h4></a>
      </div>

      <div class="col-2 btn btn-light shadow-lg  rounded-pill me-4">
        <a href="https://discord.gg/<%= settings.contact.discord %>" style="text-decoration: none; color:#404EED">
          <h4>
              <i class="fab fa-discord" style="color:#404EED"></i>
          </h4></a>
          </div>

          <div class="col-2 btn btn-light shadow-lg  rounded-pill me-4">
          <a href="https://twitter.com/<%= settings.contact.twitter %>" style="text-decoration: none; color:#1D9BF0">
            <h4>
                <i class="fab fa-twitter" style="color:#1D9BF0"></i>
            </h4></a>
            </div>  

            <div class="col-2 btn btn-light shadow-lg rounded-pill">
              <a href="https://github.com/<%= settings.contact.github %>" style="text-decoration: none; color:#161B22">
                <h4>
                    <i class="fab fa-github" style="color:#161B22"></i>
                </h4></a>
                </div>  
            </div>
      </section>


<%- include('./partials/footer.ejs', {}) %>