<%- include('./partials/header.ejs', {}) %>
<br/><br/><br/><br/><br/><br/>
<section class="p-5"> 
    <div class="position-relative p-5">
    <h1 id="index-text">
        Self taught<br/>
        Full-stack web developer
    </h1>
    <p>Hi, my name is Arda, I am from Turkey and I am a self taught web developer.<br/> I started building a website from the age of 14.</p>
    <img src="<%= data[0].owner.avatar_url %>" class="shadow-lg position-absolute top-50 end-0 translate-middle-y rounded-pill" id="index-logo">
</div>
</section>

<section class="p-5">
    <div class="position-relative p-5">
    <h2 id="index-text">Github Repos:</h2>
    <br/>
        <% for(i=0; i < data.length; i++){ %>
    <a href="<%= data[i].html_url %>" id="tech-text repos">
        <div class="btn btn-dark">
        <i class="fab fa-github" style="color:white;"></i>
        <%= data[i].name %>
    </div></a>
        <% } %>
</div>
</section>

<section class="p-5">
    <div class="position-relative p-5">
    <h2 id="index-text">Languages and tools:</h2>
    <br/>
    <a id="tech-text"><i class="fab fa-js-square" style="color:#efd81d"></i> Javascript</a>&emsp;&emsp;
    <a id="tech-text"><i class="fab fa-html5" style="color:#de4b25"></i> Html</a>&emsp;&emsp;
    <a id="tech-text"><i class="fab fa-css3-alt" style="color:#146eb1"></i> Css</a>&emsp;&emsp;
    <a id="tech-text"><i class="fab fa-node-js" style="color:#74a862"></i> Node.js</a>&emsp;&emsp;
    <a id="tech-text"><i class="fab fa-git-alt" style="color:#e94e31"></i> Git</a>&emsp;&emsp;
    <a id="tech-text"><i class="fas fa-database" style="color:#005d88"></i> MySql</a>&emsp;&emsp;
    <a id="tech-text"><i class="fas fa-cloud" style="color:#479848"></i> MongoDB</a>&emsp;&emsp;
</div>
</section>

<%- include('./partials/footer.ejs', {}) %>